body{background-color: #33cccc;}
h1{font-family: 'Life Savers', 'Comic Sans MS', serif;}
p{font-family:'Life Savers', 'Comic Sans MS', serif;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{text-align: center;}
p{text-align: center;}
h1{color: darkcyan}
p{color: white}
h1{text-shadow: 2px 2px #3399ff}
h1{font-size: 50px}
p{font-size: 30px}
p1{font-size: 30px}